<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="css/search.css" />
</head>
<body>
  <div class="card">
    <h1>Hello, search for an anime!</h1>
    <form action="/search" method="get">
      <input type="text" name="q" placeholder="Enter search query" required>
      <input type="submit" value="Search">
    </form>
    <h2>Top animes:</h2>
      <ul>
        <% results.forEach(result => { %>
          <li>
            <a href="/anime?id=<%= result.mal_id %>">
              <div class="image-con">
                  <img src="<%= result.images.jpg.image_url %>">
                  <p id="score">⭐<%= result.score %></p>
              </div>
            <%= result.title %></a>
          </li>
        <% }) %>
      </ul>
  </div>
</body>
</html>
